*{
  margin: 0;
}

.App{
  margin-left: 10%;
  margin-right: 10%;
}

.navbar{
  padding: 20px;
  background-color: grey;
  display: flex;
  align-items: center;
  margin: 0, auto;
}
.navbar p{
  text-align: left;
}

.links{
 margin-left: auto;
  background-color: gray;
  text-align: right;
}

.links p{
  font-size: 20px;
}

.links a{
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  
}

.links a:link{
  color: black;
}

.links a:visited{
  color: black;
}

.links a:hover{
  background-color: lightcyan;
}

.content{
  background-color: lightgray;
}