*{
  margin: 0;
}

.App{
  margin-left: 10%;
  margin-right: 10%;
}

.navbar{
  padding: 20px;
  background-color: grey;
  display: flex;
  align-items: center;
  margin: 0, auto;
  border-bottom: 5px solid black;
}
.navbar p{
  text-align: left;
}

.links{
 margin-left: auto;
  background-color: gray;
  text-align: right;
}

.links p{
  font-size: 20px;
}

.links a{
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  
}

.links a:link{
  color: black;
}

.links a:visited{
  color: black;
}

.links a:hover{
  background-color: lightcyan;
}

.content{
  padding-left: 15px;
  padding-right: 15px;
  background-color: lightgray;
}

.listContent{
  background-color: #ABABAB;
  box-shadow: 8px 8px 10px black;
  padding : 15px;
}
.listItem{
  padding: 15px;
  padding-bottom: 20px;
  
  background-color: lightgray;
}

.itemHeader p{
  margin-left: auto;
  text-align: right;
  padding-right: 10px;
}
.itemHeader{
  align-items: center;
  display: flex;
}
.content input{
  width: 80%;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
.inputName {
  margin-left: 10%;
  text-align: left;
}
.inpDesc {
  height: 100px;
}
.btnSbmt{
  width: 200px;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content form {
  text-align: center;
}
.navbar p{
  font-size: 35px;
  font-weight: bolder;
}